/* 手机版 css */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 16px;
}

ul{
    padding: 0;
    margin: 0 0 0 4px;
}

p{
    font-size: 16px;
}

table{
    font-size: 16px;
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.question li {
    overflow:hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    list-style: none;
    margin-bottom: 4px;
    cursor: pointer;
}

.popup-questions-title {
    color: #112233;
    border: solid 1px #ffbb00;
    font-size: 14px;
    padding: 6px;
    margin: 2px;
}

.question .label {
    font-weight: bold;
}

.question .options .mark {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    line-height: 28px;
    border:1px solid #e8eaec;
}

.question .options .mark.selected {
    color: #fff;
    background: #2d8cf0;
}

.question .answer {
    border: solid 1px #e5e5e5;
    margin-bottom: 6px;
    margin-left: 1px;
    margin-right: 1px;
}
